body {
  display: flex;
  justify-content: center;
  align-items: center;
}
 #margen{
  margin: 5px;
  border:solid black;
  padding:10px;
}
.marco{
  display:grid;
    grid-template-columns: repeat(4, 0.5fr);
    gap:10px;
}
.marco button{
  font-size:25px;
  padding:4px 10px;
}
.pantalla{
  margin-bottom: 15px;
  border:solid black;
  min-height: 40px;
  max-inline-size: 100%;
  padding:10px;
  overflow: hidden;
}

.texto1{
  margin: 0;
  font-size:28px;
  text-align: right;
}
