body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("imagenes/fondo.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

 #margen{
  margin: 5px;
  border:solid black;
  padding:10px;
  background-color: rgb(74, 72, 72);
  border-radius: 15px;
}
.marco{
  display:grid;
    grid-template-columns: repeat(4, 0.5fr);
    gap:10px;
}
.marco button{
  font-size:25px;
  padding:4px 10px;
  color: black;
  border: solid 2px gray;
  background-color: rgb(69, 60, 60);
  border-radius: 8px;
}
.marco button:hover{
  transform: scale(0.9);
  transition: 0.5s;
}
.pantalla{
  margin-bottom: 15px;
  border:solid black;
  min-height: 40px;
  max-inline-size: 100%;
  padding:10px;
  overflow: hidden;
  border-radius: 7px;
  background-color: rgb(10, 105, 10);
}

.texto1{
  margin: 0;
  font-size: 24px;
  text-align: right;
  color: rgb(165, 165, 140);
  font-family: Arial, sans-serif;
}
